# Application
PORT=3000
NODE_ENV=development

DATABASE_SSL=false
DATABASE_HOST=157.245.185.72
DATABASE_USERNAME=postgres
DATABASE_PORT=5432
DATABASE_NAME=bakery_dev
DATABASE_PASSWORD=Lucia@_@321
# JWT
JWT_SECRET=your-secret-key-change-this-in-production
JWT_EXPIRES_IN=1d

# API
API_PREFIX=api
API_VERSION=v1
