# Application
PORT=3000
NODE_ENV=development

DATABASE_SSL=false
DATABASE_HOST=134.209.60.120
DATABASE_USERNAME=masteruser
DATABASE_PORT=5432
DATABASE_NAME=bakerytest
DATABASE_PASSWORD=915460201e617b19e4ac46509A
# JWT
JWT_SECRET=your-secret-key-change-this-in-production
JWT_EXPIRES_IN=1d

# API
API_PREFIX=api
API_VERSION=v1
